app-bmi {
  display: block;
}

.app-container {
  display: block;
}

.patient-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.patient-result h1 {
  font-size: 1.3em;
  margin: 0 7px 0 0;
}

.patient-result label {
  margin: 0 0 0 5px;
}

app-bmi box-color {
  height: 20px;
  width: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-right: 5px;
}

.patient-container {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.patient-container .header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fcfcfc;
  border-bottom: 2px solid #f4f4f4;
}

.patient-details-column {
  border-right: 2px solid #f4f4f4;
  padding-top: 15px;
  padding-bottom: 15px;
  flex:1;
}

.patient-details-column:last-child {
  border-right: none;
}

.patient-details-column label {
  font-size: 1.1em;
  color: #7e7e7e;
  font-weight: normal;
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
}

.patient-details-column strong {
  font-size: 3em;
  color: #494949;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.patient-details-column strong sup {
  top: -.2em;
  font-style: italic;
}

.patient-details-column strong sub {
  font-size: 0.4em;
  bottom: 0;
}

.patient-container .body {
  background: #fff;
  padding: 15px;
}

.patient-container .body p {
  font-size: 0.9em;
  color: #7e7e7e;
  margin: 0;
}

.body > .button_block {
  padding: 5px;
  background: #fff;
  border: 2px solid #ebebeb;
  display: table;
  border-radius: 30px;
  margin: 45px auto 10px;
  position: relative;
}

.body > .button_block button {
  color: #fff;
  font-size: 1em;
  padding: 5px 25px;
  margin-right: 5px;
}

.label_block {
  padding: 5px;
  background: #fff;
  display: table;
  margin: auto;
}

.label {
  background-color: #55b9d3;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin-right: 5px;
  display: block;
}

.label_block .label-text {
  font-size: 0.8em;
  color: #acacac;
  margin-right: 15px;
}

.button_block button.btn-blue,
.glucose-indicator.blue,
.label.blue {
  background-color: #55b9d3;
}

.button_block button.btn-blue {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

.button_block button.btn-green,
.glucose-indicator.green,
.label.green {
  background-color: #79be3f;
}

.button_block button.btn-orange,
.glucose-indicator.orange,
.label.orange {
  background-color: #ffb030;
}

.button_block button.btn-red,
.glucose-indicator.red,
.label.red {
  background-color: #f84d56;
}

.button_block button.btn-red {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.label_block div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  float: left;
}

app-bmi button {
  border: 0;
  outline: none;
}

app-bmi .indicator-text {
  background-color: #e6edf3;
  padding: 5px 7px;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.5em;
  color: #5b5b5b;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

tooltip {
  font-style: italic;
  font-size: 1.0em;
  letter-spacing: -0.5px;
  color: #494949;
  position: absolute;
  top: -40px;
}

tooltip::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 40%;
  border-width: 7px 7px 0;
  border-style: solid;
  border-color: #494949 transparent;
  display: block;
  width: 0;
}

app-bmi .glucose-indicator {
  width: 25px;
  display: block;
}
.flex-group {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
}
