html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-size: 1em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #5b5b5b;
  line-height: 26px;
  letter-spacing: 0.5px;
}

.lnD {
  line-height: 0.5em;
}

.mb05 {
  margin-bottom: 5px;
}

.mb1 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb2 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb3 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb4 {
  margin-bottom: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb5 {
  margin-bottom: 50px;
}

.mb55 {
  margin-bottom: 55px;
}

.mb6 {
  margin-bottom: 60px;
}

.mb65 {
  margin-bottom: 65px;
}

.mb7 {
  margin-bottom: 70px;
}

.mb75 {
  margin-bottom: 75px;
}

.mb8 {
  margin-bottom: 80px;
}

.mb85 {
  margin-bottom: 85px;
}

.mb9 {
  margin-bottom: 90px;
}

.mb95 {
  margin-bottom: 95px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt05 {
  margin-top: 5px;
}

.mt1 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt2 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt3 {
  margin-top: 30px;
}

.mt35 {
  margin-top: 35px;
}

.mt4 {
  margin-top: 40px;
}

.mt45 {
  margin-top: 45px;
}

.mt5 {
  margin-top: 50px;
}

.mt55 {
  margin-top: 55px;
}

.mt6 {
  margin-top: 60px;
}

.mt65 {
  margin-top: 65px;
}

.mt7 {
  margin-top: 70px;
}

.mt75 {
  margin-top: 75px;
}

.mt8 {
  margin-top: 80px;
}

.mt85 {
  margin-top: 85px;
}

.mt9 {
  margin-top: 90px;
}

.mt95 {
  margin-top: 95px;
}

.mt100 {
  margin-top: 100px;
}

.ml05 {
  margin-left: 5px;
}

.ml1 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml2 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml3 {
  margin-left: 30px;
}

.ml35 {
  margin-left: 35px;
}

.ml4 {
  margin-left: 40px;
}

.ml45 {
  margin-left: 45px;
}

.ml5 {
  margin-left: 50px;
}

.ml55 {
  margin-left: 55px;
}

.ml6 {
  margin-left: 60px;
}

.ml65 {
  margin-left: 65px;
}

.ml7 {
  margin-left: 70px;
}

.ml75 {
  margin-left: 75px;
}

.ml8 {
  margin-left: 80px;
}

.ml85 {
  margin-left: 85px;
}

.ml9 {
  margin-left: 90px;
}

.ml95 {
  margin-left: 95px;
}

.ml100 {
  margin-left: 100px;
}

.mr05 {
  margin-right: 5px;
}

.mr1 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr2 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mr3 {
  margin-right: 30px;
}

.mr35 {
  margin-right: 35px;
}

.mr4 {
  margin-right: 40px;
}

.mr45 {
  margin-right: 45px;
}

.mr5 {
  margin-right: 50px;
}

.mr55 {
  margin-right: 55px;
}

.mr6 {
  margin-right: 60px;
}

.mr65 {
  margin-right: 65px;
}

.mr7 {
  margin-right: 70px;
}

.mr75 {
  margin-right: 75px;
}

.mr8 {
  margin-right: 80px;
}

.mr85 {
  margin-right: 85px;
}

.mr9 {
  margin-right: 90px;
}

.mr95 {
  margin-right: 95px;
}

.mr100 {
  margin-right: 100px;
}

.no-pad {
  padding: 0 !important;
}

.pb05 {
  padding-bottom: 5px;
}

.pb1 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb2 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb3 {
  padding-bottom: 30px;
}

.pb35 {
  padding-bottom: 35px;
}

.pb4 {
  padding-bottom: 40px;
}

.pb45 {
  padding-bottom: 45px;
}

.pb5 {
  padding-bottom: 50px;
}

.pb55 {
  padding-bottom: 55px;
}

.pb6 {
  padding-bottom: 60px;
}

.pb65 {
  padding-bottom: 65px;
}

.pb7 {
  padding-bottom: 70px;
}

.pb75 {
  padding-bottom: 75px;
}

.pb8 {
  padding-bottom: 80px;
}

.pb85 {
  padding-bottom: 85px;
}

.pb9 {
  padding-bottom: 90px;
}

.pb95 {
  padding-bottom: 95px;
}

.pb100 {
  padding-bottom: 100px;
}

.pt05 {
  padding-top: 5px;
}

.pt1 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt2 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pt3 {
  padding-top: 30px;
}

.pt35 {
  padding-top: 35px;
}

.pt4 {
  padding-top: 40px;
}

.pt45 {
  padding-top: 45px;
}

.pt5 {
  padding-top: 50px;
}

.pt55 {
  padding-top: 55px;
}

.pt6 {
  padding-top: 60px;
}

.pt65 {
  padding-top: 65px;
}

.pt7 {
  padding-top: 70px;
}

.pt75 {
  padding-top: 75px;
}

.pt8 {
  padding-top: 80px;
}

.pt85 {
  padding-top: 85px;
}

.pt9 {
  padding-top: 90px;
}

.pt95 {
  padding-top: 95px;
}

.pt100 {
  padding-top: 100px;
}

.pl05 {
  padding-left: 5px;
}

.pl1 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl2 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 25px;
}

.pl3 {
  padding-left: 30px;
}

.pl35 {
  padding-left: 35px;
}

.pl4 {
  padding-left: 40px;
}

.pl45 {
  padding-left: 45px;
}

.pl5 {
  padding-left: 50px;
}

.pl55 {
  padding-left: 55px;
}

.pl6 {
  padding-left: 60px;
}

.pl65 {
  padding-left: 65px;
}

.pl7 {
  padding-left: 70px;
}

.pl75 {
  padding-left: 75px;
}

.pl8 {
  padding-left: 80px;
}

.pl85 {
  padding-left: 85px;
}

.pl9 {
  padding-left: 90px;
}

.pl95 {
  padding-left: 95px;
}

.pl100 {
  padding-left: 100px;
}

.pr05 {
  padding-right: 5px;
}

.pr1 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr2 {
  padding-right: 20px;
}

.pr25 {
  padding-right: 25px;
}

.pr3 {
  padding-right: 30px;
}

.pr35 {
  padding-right: 35px;
}

.pr4 {
  padding-right: 40px;
}

.pr45 {
  padding-right: 45px;
}

.pr5 {
  padding-right: 50px;
}

.pr55 {
  padding-right: 55px;
}

.pr6 {
  padding-right: 60px;
}

.pr65 {
  padding-right: 65px;
}

.pr7 {
  padding-right: 70px;
}

.pr75 {
  padding-right: 75px;
}

.pr8 {
  padding-right: 80px;
}

.pr85 {
  padding-right: 85px;
}

.pr9 {
  padding-right: 90px;
}

.pr95 {
  padding-right: 95px;
}

.pr100 {
  padding-right: 100px;
}

.L_content-top {
  padding: 0;
}

.L_content-top-1 {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #ebeff6;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.L_top-content h5 {
  font-size: 1.3em;
  color: #B3AEAE;
}

.L_top-content label {
  font-size: 2.3em;
  color: #000;
}

.L_pie-title-center {
  display: inline-block;
  position: relative;
  text-align: center;
}

.L_pie-value {
  display: block;
  position: absolute;
  font-size: 14px;
  height: 40px;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -20px;
  line-height: 40px;
}

.patient-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.patient-flex h1 {
  font-size: 1.3em;
  margin: 0 7px 0px 0px;
}

.patient-flex label {
  margin: 0px 0px 0px 5px;
}

box-color {
  height: 20px;
  width: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.color-box {
  width: 25px;
  display: block;
}


.flex-group {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.panel-block {
  background-color: #e6edf3;
  padding: 5px 7px;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.5em;
  color: #5b5b5b;
}

.blue {
  background-color: #55b9d3;
}

.green {
  background-color: #79be3f;
}

.orange {
  background-color: #ffb030;
}

.red {
  background-color: #f84d56;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.bg-grey {
  background-color: #f8f8fa;
}

.label-blue {
  background-color: #4db3bf;
  color: #fff;
}

.label-grey {
  background-color: #f8f8fa;
  color: #dad8d8;
}

.label-green {
  background-color: #a1d662;
  color: #4e4e4e;
}

.label-yellow {
  background-color: #fffb01;
  color: #4e4e4e;
}

.label-orange {
  background-color: #ffd302;
  color: #4e4e4e;
}

.label-red {
  background-color: #ff2600;
  color: #fff;
}

.label-purple {
  background-color: #8749b8;
  color: #fff;
}

.bmi_panel {
  display: inline-block;
  min-height: 250px;
}

.panel-container {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.panel_head {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fcfcfc;
  border-bottom: 2px solid #f4f4f4;
}

.panel_head .col-md-4 {
  border-right: 2px solid #f4f4f4;
  padding-top: 15px;
  padding-bottom: 15px;
}

.panel_head .col-md-4 last-child {
  border-right: none;
}

.panel_head label {
  font-size: 1.1em;
  color: #7e7e7e;
  font-weight: normal;
  display: table;
  margin-bottom: 15px;
}

.panel_head strong {
  font-size: 3em;
  color: #494949;
  letter-spacing: 1.5px;
}

.panel_head strong sup {
  top: -.2em;
  font-style: italic;
}

.panel_head strong sub {
  font-size: 0.4em;
  bottom: 0;
}

.panel_body {
  display: table;
  width: 100%;
  background: #fff;
  padding: 15px;
}

.panel_body p {
  font-size: 0.9em;
  color: #7e7e7e;
  margin: 0;
}

.button_block {
  padding: 5px;
  background: #fff;
  border: 2px solid #ebebeb;
  display: table;
  border-radius: 30px;
  margin: 45px auto 10px;
  position: relative;
}

.button_block .btn-blue {
  background-color: #55b9d3;
  color: #fff;
  font-size: 1em;
  padding: 5px 25px;
  margin-right: 5px;
}

.button_block .btn-green {
  background-color: #79be3f;
  color: #fff;
  font-size: 1em;
  padding: 5px 25px;
  margin-right: 5px;
}

.button_block .btn-orange {
  background-color: #ffb030;
  color: #fff;
  font-size: 1em;
  padding: 5px 25px;
  margin-right: 5px;
}

.button_block .btn-red {
  background-color: #f84d56;
  color: #fff;
  font-size: 1em;
  padding: 5px 25px;
}

.button_block .btn-blue {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

.button_block .btn-red {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.label_block {
  padding: 5px;
  background: #fff;
  display: table;
  margin: auto;
}

.label_block .label-text {
  font-size: 0.8em;
  color: #acacac;
  margin-right: 15px;
}

.label_block .label-blue {
  background-color: #55b9d3;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin-right: 5px;
  display: block;
}

.label_block .label-green {
  background-color: #79be3f;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin-right: 5px;
  display: block;
}

.label_block .label-orange {
  background-color: #ffb030;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin-right: 5px;
  display: block;
}

.label_block .label-red {
  background-color: #f84d56;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin-right: 5px;
  display: block;
}

.label_block div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  float: left;
}

tooltip {
  font-style: italic;
  font-size: 1.0em;
  letter-spacing: -0.5px;
  color: #494949;
  position: absolute;
  top: -40px;
}

tooltip::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 40%;
  border-width: 7px 7px 0;
  border-style: solid;
  border-color: #494949 transparent;
  display: block;
  width: 0;
}
