@import url('assets/scss/bmi.scss');

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #5b5b5b;
  line-height: 26px;
  letter-spacing: 0.5px;
}

pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
  background-color: #f7f7f9;
  padding: 10px 20px;
  margin: 15px;
  border-radius: 5px;
  overflow-y: auto;
}
code {
    line-height: 26px;
}
